name: Verify

on:
  pull_request:
    branches:
      - dev
      - main

jobs:
  web-build:
    name: Web Build
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Web app
        run: ./gradlew :composeApp:wasmJsBrowserDistribution --no-daemon --stacktrace
